@model KontaktiMVC.Osoba

@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje kontakta</h2>

<h3>Jeste li sigurni?</h3>
<div>
    <h4>Kontakt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> </dt>
        <dd>
            <img src="@Url.Content(Model.slika)" alt="Slika nedostupna" />
        </dd>

        <dt>
            Ime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            Prezime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime)
        </dd>

        <dt>
            Grad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grad)
        </dd>

        <dt>
            Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" /> |
            @Html.ActionLink("Povratak", "Index")
        </div>
    }
</div>
