@model KontaktiMVC.Osoba

@{
    ViewBag.Title = "Details";
}

<style>
    img {
        max-height: 200px;
        max-width: 200px;
    }
</style>

<h2>Podaci o kontaktu</h2>

<div>
    <hr />

    <dl class="dl-horizontal">
        <dt> </dt>
        <dd>
            <img src="@Url.Content(Model.slika)" alt="Slika nedostupna"/>
        </dd>
        <dt>
            Ime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            Prezime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime)
        </dd>

        <dt>
            Grad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grad)
        </dd>

        <dt>
           Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

        <dt>
            Telefonski brojevi
        </dt>
        <dd>
            <p>@Html.ActionLink("Dodaj broj" , "Create", "Broj",null,null)</p>
            <table class="table">
                <tr>
                    <th>Broj</th>
                    <th>Tip</th>
                    <th>Opis</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Broj)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.broj1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.opis)
                        </td>
                        <td>
                            @Html.ActionLink("Uredi","Edit","Broj", new { id = item.broj1 }, null) | 
                            @Html.ActionLink("Izbriši", "Delete", "Broj", new {id = item.broj1}, null)
                        </td>
                    </tr>
                }
            </table>
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Povratak", "Index")
</p>
